$primaryColor: #212121;
$secondaryColor: #006838;
$headerBackgroundColor: #f1f2f2;
$dateColor: #757575;

$margins: 150px;
$bodyHeight: 2970px;
$bodyWidth: 2100px;
$alignment: 20px;

body {
  background-color: $primaryColor;
  margin: 10px auto;
  height: $bodyHeight;
  width: $bodyWidth;
  color: $primaryColor;
  font-family: 'Arial';
  font-size: 35px;

  .container {
    background-color: #fff;
    height: $bodyHeight - 2 * $margins;
    width: $bodyWidth - 2 * $margins;
    padding: $margins;

    .column {
      height: 100%;

      &.column-left {
        width: 36%;
        margin-right: 0.5%;
        float: left;
      }

      &.column-right {
        width: 63%;
        margin-left: 0.5%;
        float: right;
      }
    }

    .content {
      padding: $alignment;

      ul {
        li {
          &:not(:first-of-type) {
            margin-top: 5%;
          }

          .date {
            color: $dateColor;
            font-size: 30px;
            margin-bottom: 0.5%;
          }
        }
      }
    }

    a {
      text-decoration: none;
      color: $primaryColor;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }

    h1 {
      color: $secondaryColor;
      font-size: 95px;
    }

    h2 {
      background-color: $headerBackgroundColor;
      padding: $alignment;
      color: $secondaryColor;
      font-size: 50px;
      text-transform: uppercase;

      &:not(:first-of-type) {
        margin-top: $alignment;
      }
    }

    h3 {
      color: $secondaryColor;
      font-size: 40px;
      font-weight: normal;
      margin-bottom: 1%;
    }

    h4 {
      font-size: 38px;
      font-weight: 300;
      margin-bottom: 0.5%;
    }

    h5 {
      font-size: 33px;
      font-weight: 300;
    }

    img {
      margin: $alignment 15%;
      width: 70%;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: $alignment;

        &:last-of-type {
          margin-bottom: 0;
        }

        .list-header {
          font-weight: bold;
        }
      }
    }
  }
}
