@import './constants';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-print-color-adjust: exact; //
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: $colorDefault;
}

body {
  display: grid;
  color: $colorDefault;
  font-family: 'Montserrat', 'Times New Roman', serif;
  font-size: 9pt;
  line-height: 1.25;
}

a,
a:hover,
a:focus {
  color: $colorDefault;
  text-decoration: none;
}

strong {
  font-weight: 600;
}

b {
  font-weight: 500;
}

.page {
  width: $pageWidth;
  height: $pageHeight;
  background: #fff;
  display: grid;
  padding: 1cm;
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header header'
    'details main'
    'clause clause';
  grid-gap: 25pt;
}

.header {
  grid-area: header;
}

.details {
  grid-area: details;
}

.main {
  grid-area: main;
}

.title {
  line-height: 0.75;
  color: $colorPrimary;
  font-size: 30pt;
  font-weight: 800;
}

.summary {
  &__paragraph {
    font-style: italic;
  }
}

.photo {
  max-width: 100%;
  margin-inline: auto;
  border-radius: 3pt;
  display: block;
}

.content {
  display: grid;
  align-content: start;
  grid-gap: 25pt;
}

.clause {
  grid-area: clause;
  margin-top: auto;
  color: $colorSecondary;
  font-size: 6pt;
}

.section {
  display: grid;
  align-content: start;
  grid-gap: 15pt;

  &__heading {
    padding: 12pt $sectionIntendation;
    border-radius: 3pt;
    background-color: $colorBg;
    color: $colorPrimary;
    font-size: 12pt;
    font-weight: 600;
    line-height: 0.75;
    text-transform: uppercase;
  }

  &__content {
    display: grid;
    // To omit right padding in case I want to prevent breaking text to new line without affecting container width
    grid-template-columns: $sectionIntendation 1fr minmax(auto, $sectionIntendation);
    grid-row-gap: 15pt;

    & > * {
      grid-column: 2;
    }
  }
}

.exp {
  display: grid;
  justify-items: start;
  grid-gap: 8pt;

  &__header {
    display: grid;
    grid-gap: 3pt;
  }

  &__date {
    color: $colorSecondary;
    font-size: 7pt;
  }

  &__heading {
    color: $colorPrimary;
    font-size: 12pt;
    font-weight: 500;
  }

  &__subheading {
    font-size: 10pt;
    font-weight: 500;
  }

  &__subheading-annotation {
    color: $colorSecondary;
    font-weight: 300;
    font-size: 7pt;
  }

  &__additional {
    margin-top: -2pt;
    color: $colorSecondary;
    font-size: 7pt;
  }
}

.list {
  list-style: none;
  display: grid;
  grid-gap: 5pt;

  &__item {
    display: flex;

    &::before {
      content: '•';
      margin-right: 5pt;
    }
  }
}

.data {
  &__annotation {
    color: $colorSecondary;
    font-size: 7pt;
  }

  &__key {
    font-weight: 600;
  }

  &__value {
    margin-top: 1pt;

    &:not(:last-of-type) {
      margin-bottom: 10pt;
    }
  }
}
