<!DOCTYPE html>
<html lang="us">

  <head>
    <meta charset="UTF-8" />
    <title>{{ heading }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="./styles.css" />
  </head>

  <body>
    <div class="page">
      <div class="main-layout">

        <header class="header">
          <h1 class="title">{{ heading | safe }}</h1>
        </header>

        <aside class="details content">

          {% if sidebar.summary %}
            <img class="photo" src="./photo.jpg" />
          {% endif %}

          {% if sidebar.summary %}
            <section class="section">
            
              <h2 class="section__heading">{{ sidebar.summary.heading | safe }}</h2>

              <div class="section__content">
                {% for paragraph in sidebar.summary.content %}
                  <p class="summary__paragraph">{{ paragraph | safe }}</p>
                {% endfor %}
              </div>

            </section>
          {% endif %}

          {% for section in sidebar.sections %}
            <section class="section">

              <h2 class="section__heading">{{ section.heading }}</h2>

              <div class="section__content">
                <dl class="data">

                  {% for data in section.content %}
                    {% if data.values %}
                      <ul class="list">
                        {% for value in data.values %}
                          <li class="list__item">{{ value | safe  }}</li>
                        {% endfor %}
                      </ul>
                    {% else %}
                      <dt class="data__key">{{ data.key | safe }}</dt>
                      <dd class="data__value">{{ data.value | safe  }}</dd>
                      <span class="data__annotation">{{ data.annotation | safe }}</span>
                    {% endif %}
                  {% endfor %}

                </dl>
              </div>

            </section>
          {% endfor %}
        
        </aside>

        <main class="main content">

          {% for section in main %}
            <section class="section">

              <h2 class="section__heading">{{ section.heading }}</h2>

              <div class="section__content">

                {% for subsection in section.content %}
                  <article class="exp">

                    {% if (subsection.dates or subsection.heading or subsection.subheading or subsection.additional) %}
                      <header class="exp__header">
                        {% if subsection.dates %}
                          {% for subsectionDate in subsection.dates %}
                            <span class="exp__date">{{ subsectionDate }}</span>
                          {% endfor %}
                        {% endif %}
                        {% if subsection.heading %}
                          {% if subsection.heading.href %}
                            <a href="{{ subsection.heading.href }}" target="_blank">
                              <h3 class="exp__heading">{{ subsection.heading.label | safe }}</h3>
                            </a>
                          {% else %}
                            <h3 class="exp__heading">{{ subsection.heading.label | safe }}</h3>
                          {% endif %}
                        {% endif %}
                      </header>
                    {% endif %}

                    {% for item in subsection.items %}
                        {% if item.heading %}
                          <h4>
                            <span class="exp__subheading">{{ item.heading.label | safe }}</span>
                            <span class="exp__subheading-annotation">{{ item.heading.annotation | safe }}</span>
                          </h4>
                        {% endif %}

                        {% if item.bullets.length > 0 %}
                          <ul class="list">
                            {% for bullet in item.bullets %}
                              <li class="list__item">
                                <span>{{ bullet | safe }}</span>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}

                        {% if item.additional %} <span class="exp__additional">{{ item.additional | safe }}</span> {% endif %}
                    {% endfor %}

                  </article>
                {% endfor %}

              </div>
            </section>
          {% endfor %}

        </main>

        <footer class="clause">
          <p>{{ clause | safe }}</p>
        </footer>

      </div>
    </div>
  </body>
</html>
